<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title class="p">Asistencia</ion-title>
    <ion-buttons class="l" slot="start" > 
      <ion-back-button defaultHref="/">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item *ngFor="let persona of personas">
    <ion-avatar slot="start">
      <img [src]="persona.foto"/>
    </ion-avatar>
    <ion-label class="a"><h6>{{persona.nombre}}</h6></ion-label> 
    <ion-label class="f">{{persona.asistencia}}</ion-label>
  </ion-item>

  
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button><ion-icon name="code"></ion-icon></ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button [routerLink]="['/home']"><ion-icon name="arrow-back-outline"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>


</ion-content>

<ion-footer>
  <ion-toolbar color="mycolor">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-footer>