<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title class="p">QR</ion-title>
    <ion-buttons class="l" slot="start" > 
      <ion-back-button defaultHref="/">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br>
  <br>
  <br>
  <center><img src="assets/icon/Duoc.png"></center>
  <br>
  <br>
  <br>

  <img src="assets/icon/QR.png">


  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button><ion-icon name="code"></ion-icon></ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button [routerLink]="['/home']"><ion-icon name="arrow-back-outline"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>


<ion-footer>
  <ion-toolbar color="mycolor">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-footer>