<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-title id="container" >
     RegistrAPP
    </ion-title>

  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <br>
  <br>
  <br>
  	
<center><img src="assets/icon/Duoc.png" ></center>

  <div id="container">
  
    <ion-button [routerLink]="['/inicio']" color="success" >
    Ingresar
    <ion-icon name="person-circle-sharp"></ion-icon>
    </ion-button>
   </div>
     
</ion-content>




<ion-footer >
  <ion-toolbar color="mycolor">
    <ion-title> 
      <ion-button [routerLink]="['/registro']" color="success" >
      Registro
    </ion-button>
  </ion-title>
  </ion-toolbar>
</ion-footer>


