<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title class="p">Registro</ion-title>
    <ion-buttons class="l" slot="start" > 
      <ion-back-button defaultHref="/">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <br>
  <center><img src="assets/icon/Duoc.png"></center>
  
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input #nombre></ion-input>
  </ion-item>
  <ion-item>
  <ion-label position="floating">Apellido</ion-label>
    <ion-input #apellido></ion-input>
  </ion-item>  
  <ion-item>
    <ion-label position="floating">Correo</ion-label>
    <ion-input #correo></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input #contrasena></ion-input>
  </ion-item>
  <div *ngIf="mensaje;">
    <h3 id="Error">Mensaje: {{mensaje}}</h3>
  </div>
  


</ion-content>

<ion-footer>
  <ion-toolbar color="mycolor" >
    <ion-button (click)="grabar(nombre, apellido, correo, contrasena)" color="danger">
      <ion-icon slot="icon-only" name="radio-button-on-outline"></ion-icon>
    </ion-button>
    <ion-button (click)="limpiar(nombre, apellido, correo, contrasena)" color="light" slot="end">
      <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>


